{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container text-center">

    <h1>{{ title }}</h1>

    <div class = 'row'>

      <div class = 'col-xs-6 player'>
        <h2>Player</h2>
        <div class = 'col-xs-12'>
          <h1>1</h1>
        </div>
      </div>

      <div class = 'col-xs-6 AI'>
        <h2>Computer</h2>
        <div class = 'col-xs-12'>
          <h1>1</h1>
        </div>
      </div>

    </div>

  </div>

{% endblock %}
